<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/head"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/head"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.main.fragment.me.MeUserInfoActivity"></activity>
        <activity android:name=".ui.main.fragment.detail.DetailInfoActivity" />
        <activity android:name=".ui.main.fragment.sort.SortDataInfoActivity" />
        <activity android:name=".ui.main.fragment.me.MeRegistActivity" />
        <activity android:name=".ui.main.fragment.me.MineLoginActivity" />
        <activity android:name=".ui.main.fragment.home.GoodListDetailActivity" />
        <activity android:name=".ui.main.fragment.home.BrandInfoActivity" />
        <activity android:name=".tongpao.TongPaoActivity" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ceshi.ui.MainActivity" />
        <activity android:name=".ui.test.SplaseActivity" />
        <activity android:name=".ui.primary.fragment.home.HomeChannelTypeActivity" />
        <activity android:name=".ui.primary.fragment.home.HomeBrandActivity" />
        <activity android:name=".ui.test.NewBindActivity" />
        <activity android:name=".ui.test.HomeActivity" />
        <activity android:name=".ui.PrimaryActivity" />
        <activity android:name=".ceshi.ui.BaseA" />
    </application>

</manifest>